<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Films</title>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="static/css/allFilms.css" rel="stylesheet">


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<script type="application/javascript" src="/js/allFilms.js"></script>



<div>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Rating</th>
            <th scope="col">Age</th>
            <th scope="col">Action 1</th>
            <th scope= "col"> Action 2</th>
        </tr>
        </thead>

        <tbody id="forAdd">


<!--        Themleaf-->
<!--        <tr th:each="film :${films}">-->
<!--            <td th:text="${film.id}"></td>-->
<!--            <td th:text="${film.title}"></td>-->
<!--            <td th:text="${film.rating}"></td>-->
<!--            <td th:text="${film.age}"></td>-->
<!--            <td><a type="button" class="btn btn-primary" th:href="@{'/films/edit?id=' + ${film.id}}">Edit</a></td>-->
<!--            <td><a type="button" class="btn btn-danger" th:href="@{'/films/delete?id=' + ${film.id}}">Delete</a></td>-->
<!--        </tr>-->

        </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                   <div align = "center"><input id="title" type="text" placeholder="Film title"><p></p></div>
                    <div align = "center"><input id="rating" type="number" placeholder="Film rating"> <p></p></div>
                        <div align = "center"><input id = "age" type="number" placeholder="Film age"> <p></p></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addFilm()">Add film</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!--<div align = "center">-->
<!--    <a type="button" class="btn btn-success" th:href="@{'/films/create'}">Create</a>-->
<!--    <p></p>-->
<!--    <p></p>-->
<!--</div>-->

<p></p>
<p></p>

<button class="btn btn-success" data-toggle="modal" data-target="#add-modal">Click</button>





</body>
</html>