<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Products</title>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="static/css/allFilms.css" rel="stylesheet">
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">Action 1</th>
            <th scope= "col"> Action 2</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="product :${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.amount}"></td>
            <td><a type="button" class="btn btn-primary" th:href="@{'/products/edit?id=' + ${product.id}}">Edit</a></td>


            <td><a type="button" class="btn btn-danger" th:href="@{'/products/buy?id=' + ${product.id}}" th:if="${product.amount}!=0">Buy</a></td>

        </tr>


        </tbody>
    </table>

</div>

<div align = "center">
    <a type="button" class="btn btn-success" th:href="@{'/products/create'}">Create</a>
    <p></p>
    <p></p>
</div>

</body>
</html>