<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<link href="/css/calculator.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div>
<div class="card" id="c1" style="width: 20rem;">
   <div>
    <input id="screen" readonly>
   </div>
    <div class="card-body">
        <table class="table table-bordered">
        <tr>
            <th scope="col"><a>1</a></th>
            <th scope="col"><a>2</a></th>
            <th scope="col"><a>3</a></th>
        </tr>
        <tr>
            <th scope="col"><a>4</a></th>
            <th scope="col"><a>5</a></th>
            <th scope="col"><a>6</a></th>
        </tr>
        <tr>
            <th scope="col"><a>7</a></th>
            <th scope="col"><a>8</a></th>
            <th scope="col"><a>9</a></th>
        </tr>
        <tr>
            <th scope="col"><a>+</a></th>
            <th scope="col"><a>0</a></th>
            <th scope="col"><a>-</a></th>
        </tr>
        <tr>
            <th scope="col"><a>*</a></th>
            <th scope="col"><a>/</a></th>
            <th scope="col"><a>=</a></th>
        </tr>
        </table>

    </div>
</div>

</div>


</body>
</html>