<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Film</title>
</head>

<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">1</th>
                <th scope="col">2</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Title</th>
                <td><input></td>

            </tr>
            </tbody>

            <tbody>
            <tr>
                <th>Rating</th>
                <td><input></td>

            </tr>
            </tbody>

            <tbody>
            <tr>
                <th>Age</th>
                <td><input></td>

            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary">Create</button>

    </div>
</div>


</body>
</html>