<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>

<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h1>Edit product</h1>
<p></p>

<form action="/films/edit" method="post">
    <table class="table table-striped table-dark">
        <thead>
        <tr>

        </tr>
        </thead>
        <tbody>

        <tr>
            <th>Id</th>
            <td><input name="id"  type="text" aria-label="Id" placeholder="Id" th:value="${product.id}" readonly ></td>

        </tr>

        <tr>
            <th>Name</th>
            <td><input name="name"  type="text" aria-label="Name" placeholder="Name" th:value="${product.name}"></td>

        </tr>
        </tbody>

        <tbody>
        <tr>
            <th>Price</th>
            <td><input name="price"   type="text" aria-label="Price" placeholder="Price" th:value="${product.price}"></td>

        </tr>
        </tbody>

        <tbody>
        <tr>
            <th>Amount</th>
            <td><input name="amount"   type="text" aria-label="Amount" placeholder="Amount" th:value="${product.amount}"></td>

        </tr>
        </tbody>
    </table>
</form>
    <button type="submit" class="btn btn-danger">Edit</button>




</body>
</html>